.editor {
  width: 100%;
  min-height: 100vh;
  background: #fadcd9;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
}
.markdownContainer {
  margin-top: 10vh;
  width: 100%;
  margin-bottom: 5%;
  max-width: 1400px;
  display: flex;
}
textarea,
.output {
  width: 100%;
  max-width: 50%;
  padding: 20px;
  background: #f9f1f0;
  color: #444444;
  font-size: 14pt;
  border-radius: 5px;
}
.input {
  font-size: 1rem;
  line-height: 1.5;
}
textarea {
  min-height: 75vh;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  font-family: "Roboto Mono", monospace;
}
.output {
  background: none;
  color: #444444;
  height: 800px;
  margin-left: 5%;
  height: auto;
  padding: 20px;
}

@media (max-width: 980px) {
  .markdownContainer {
    flex-direction: column;
    background: #fadcd9;
  }
  .output,
  textarea {
    max-width: 100%;
    height: 400px;
  }
}
@media (max-width: 1440px) {
  .markdownContainer {
    max-width: 90%;
  }
}
